titleBlock {
    display: flex;
    margin: 20px auto;
    width: 95%;
    height: 200px;
    border-radius: 4px;
    background-image: url(images/pika.gif);
    background-size: 10%;
}

backgroundBlock {
    display: flex;
    margin: 20px auto;
    width: 95%;
    border-radius: 2px;
    justify-content: center;
    background: #4D3F5B;
}

#main_content {
    width: 100%;
    min-height: 500px;
    background: #E7E7E7;
    border-radius: 2px;
}

body {
    background-color: #4D3F5B;
}

h2 {
    font: normal 100% 'Baskerville', arial, sans-serif;
    text-align: center;
    color: #886E97;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
